In [2]:
# Assignment Day 02

# take an input from user
celcius_temperature = int(input("Give temperature in Celcius :"))

# use the formula to convert the temperature
fahrenheit_temperature = (celcius_temperature * 9/5) + 32

# I will use the print statement
print(fahrenheit_temperature)

Give temperature in Celcius33
91.4

In [5]:
# Strings Concatenation in python
# firstName + second_name

first_name = "Abu"
second_name = "bakar"

print(first_name + second_name)
print("First_"+"Second")

Abubakar
First_Second

TypeError: can only concatenate str (not "int") to str

In [7]:
# String Operations

full_name = "aBuBAKaR" # it is immutable

updated = full_name.capitalize()
print(full_name)
print(updated)

aBuBAKaR
Abubakar

In [12]:
# Indexing
str_1 = "hello world"
#        0123456

len(str_1)
str_1.find("o")

# str_1[-2]

# print(str_1[-2])

4

In [ ]:
#