In [ ]:
# functions
# calculate()

# Car
# Mehran,Civic, Corolla

# 4 seats, 4 tyres, engine,
# gears, speed meter

In [6]:
# ahmed, ali, ayesha

# StudentIcode - blue print

class Student:
  # variables + functions
  # attributes + methods

  # constructors - ya wo method ha jo class initiaze ka waqt khud call ho jata ha
  def __init__(self):
    print("A new student created in constructor")

  # def greet(self):


ahmed = Student()

# object = class
# ahmed.greet()

A new student created in constructor

In [11]:
class Student:
  # name, id, age
  def __init__(self, name, id, age):
    # print(" a new student")
    self.name = name
    self.age = age
    self.id = id

  def enroll(self, course_name):
    print(f"You are enrolled in a course {course_name}")
    # take data and enter in database and inform the admin also


ahmed = Student("ahmed",1234,22)
ali = Student("ali",546,22)

# ahmed.enroll("Databases")

print(ahmed.name)
print(ali.age)

ahmed
ali

In [14]:
def student():
  name="ahmed"
  print("Some operations to store a student")
student()

Some operations to store a student

In [18]:
student_name = "haris"
a = student_name.capitalize()

my_list =[2,2,4,5]

print(a)

Haris

In [19]:
class Student:
  school_name = "iCodeGuru" # class attribute
  def __init__(self, name, id, age):
    self.name = name # object attribute
    self.age = age
    self.id = id

  def enroll(self, course_name):
    print(f"You are enrolled in a course {course_name}")


ahmed = Student("ahmed",1234,22)
ali = Student("ali",546,22)


print(ahmed.school_name)
print(ali.school_name)

iCodeGuru
iCodeGuru