# Working with Python Lists: Operations & Examples

## Indexing & Slicing

In [14]:
fruits = ["apple", "banana","banana", "cherry", "date"]
#         0         2         3
print(fruits[0])      # Output: apple
print(fruits[-1])     # Output: date
print(fruits[1:3])    # Output: ['banana', 'cherry']

apple
date
['banana', 'banana']

## Adding Elements

In [25]:
fruits.append("elderberry")  # Add to end
print(fruits)

fruits.insert(1, "blueberry")  # Insert at index 1
print(fruits)

fruits.extend(["fig", "grape",99])  # Add multiple items
print(fruits)

['elderberry']
['elderberry', 'blueberry']
['elderberry', 'blueberry', 'fig', 'grape', 99]

In [ ]:
# Strings are immutable
str = "asd"

## Removing Elements

In [28]:
# fruits.remove("banana")  # Remove by value
# print(fruits)
# print(fruits)
popped = fruits.pop()    # Remove & return last item
# print("Popped:", popped)
# fruits.pop()    # Remove & return last item

print(fruits)

['elderberry', 'blueberry', 'fig']

In [41]:
nums = [1,3,2,4,11,9,5]

In [50]:
# lists are mutable - original values change hote han
nums = [1,2,3,4,5,True,"it is a str"]

print(nums)
# nums.pop()
# nums.pop()
print(nums)

[1, 2, 3, 4, 5, True, 'it is a str']
[1, 2, 3, 4, 5, True, 'it is a str']

## Sorting & Other Operations

In [44]:
fruits.sort() # Sort in place
print("Sorted in place:", fruits)

new_list = sorted(fruits) # Return sorted copy
print("Sorted copy:", new_list)

print("Length:", len(fruits)) # Count items
print("apple" in fruits) # Check membership

Sorted in place: ['blueberry', 'elderberry', 'fig']
Sorted copy: ['blueberry', 'elderberry', 'fig']
Length: 3
False

In [49]:
print(nums)
# nums.sort()
# kya ya nums aga bhi sorted mila gi ya only print function ma hi ha
# print(nums)

nums_2 = sorted(nums)
print(nums_2[0])

len(nums)

print(12 in nums)

[1, 2, 3, 4, 5, 9, 11, 88, 23, 43]
1
False

In [48]:
nums.append(88)
nums.append(23)
nums.append(43)

print(nums)

[1, 2, 3, 4, 5, 9, 11, 88, 23, 43]

In [6]:
# Lists Introduction

# initialize a list
# lift_of_names = []

# values separated by commas
list_of_names = ["ahmed","dawood","qasim", 88 , 99.9]
#                 0       1      2
id_of_names = [12,111,44]
# int, str, boolean

# print a list
print(list_of_names)
# specific index
print(list_of_names[1])
# range of index
print(list_of_names[0:3])
#           inlcusive:exclusive

# negative indexing
print(list_of_names[-2])

['ahmed', 'dawood', 'qasim', 88, 99.9]
dawood
['ahmed', 'dawood', 'qasim']
88

In [9]:
# Matching an element in list
for name in list_of_names:
  if name == "ahmed":
    print("name is found : ",name)

name is found :  ahmed

In [59]:
# lists example
seats = ["sara","john","ali"]
print(seats[2])

# range - slicing
print(seats[0:2])
seats.remove("sara")
print(seats)
# include:exclude

ali
['sara', 'john']
['john', 'ali']