In [ ]:
# Primary Data Types in PYthon

# int (+ve,0,-ve)
num = 12
num2 = -12

# float 0.33, 0.9999
floatNum = 0.99

# str (text, sentence)
myStr = 'This is a string'
myStr2 = "This is a string"

# boolean
name = "George"
age = 33
weight = 55.5
adult = True

In [ ]:
# Type() function
# input(), print()

# type function hma kisi variable ki data-type
print(type(name))
print(type(age))
print(type(weight))
print(type(adult))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# input function
age = int(input())
"55"
print(type(age))

# print(name, age ,weight)
print("This is just a simple string")
print("The age of the user is : ",age)

print(name,age)

55
<class 'int'>
This is just a simple string
The age of the user is :  55
george 55

In [ ]:
# type casting - wo process ha jis sa hum type change krta han

# explicit typing

# implicit type casting
a =33
b= 20.5
c=a+b
# int + float

print(type(c))

<class 'float'>

In [ ]:
# Operator precedence

# () -> ** -> *,/ -> +, -

# DMAS
a = 10 + 2/2 + 4*7
#   10 + 1 + 28
# 39

a = (10 + 2)/2 + 4*7
#   12/2 + 4*7
#   6 + 28
# 34


a = "It is a str"
print(a)

It is a str

In [ ]:
# variable naming rules and conventions

# detailed meaningful names
# floatNumber

# _, a ,A

# age , Age -> different variables

# can't use reserve keywords
# class, if, input, print


# camelCase, Pascal_Case, snake_case
# lectureTwo, firstName
# first_name, lecture_two -> python convention