In [36]:
# Arrays vs lists
my_list = [12,"Ahmad",True]

import numpy as np
my_arr = np.array([12,"Ahmad",True])
# my_arr = np.array([12,1,3])
print(my_arr)

['12' 'Ahmad' 'True']

In [16]:
# Tuple
my_tuple = ("ahmad","haseeb","awais","awais")
#             0       1       2
# print(my_tuple)

my_tuple[3]

new_tuple = ("apple")
new_tuple_2 = ("apple",)
# print(type(new_tuple))
# print(type(new_tuple_2))

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
#             0         1         2         3       4
print(thistuple[-3])
print(thistuple[2:4])

# start sa 3rd index tk elements print kro
print(thistuple[:4])

# 3rd index sa end tk elements print kro
print(thistuple[3:])

kiwi
('cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('orange', 'kiwi', 'melon', 'mango')

In [19]:
# Changing the value

# tuple -> list -> modification -> convert back to tuple

my_tuple_list = list(thistuple)
print(type(my_tuple_list))

my_tuple_list[1]="greenApple"
print(my_tuple_list)

new_tuple = tuple(my_tuple_list)
print(type(new_tuple))

<class 'list'>
['apple', 'greenApple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'tuple'>

In [22]:
# Tuple Addition
thistuple = ("apple", "banana", "cherry")
y = ("greenApple",)

# thistuple +=y
y += thistuple
print(thistuple)
print(y)

('apple', 'banana', 'cherry')
('greenApple', 'apple', 'banana', 'cherry')

In [33]:
# Loop through tuples
thistuple = ("apple", "banana", "cherry")

# for
# for y in thistuple:
#   print(y)

# loop through index
# for i in range(len(thistuple)):
#   print(i,thistuple[i])

# while loop
i = 0
# 0
while True:
  # 0 < 3
  # 1 < 3
  # 2 < 3
  # 3 < 3
  print(i,thistuple[i])
  i =i+1
  if i >= 3:
    break
  # i = 0 + 1 -> 1
  # i = 1 + 1 -> 2
  # i = 2 + 1->  3

0 apple
1 banana
2 cherry

In [38]:
thistuple = ("apple", "banana", "cherry")
#             v1      v2        v3
v1,v2,v3 = thistuple
print(v1)
print(v2)
print(v3)

apple
banana
cherry

In [40]:
nums = [1,2,3,2]

print(nums.count(2))

2